*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  /* background: linear-gradient(to left,  rgb(16, 113, 146), rgb(115, 169, 14), rgb(16, 113, 146)); */
  background: linear-gradient(to left, lightblue, lightgreen);
}

.title {
  margin: 10px auto;
  text-align: center;
  color: darkblue;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.image-container img {
    display: block;
    width: 800px;
    height: 450px;
    object-fit: fill;
}
  
.small-images {
    display: flex;
    justify-content: center;
  }
  
.small-images img {
    display: inline-block;
    width: 200px;
    height: 170px;
    margin: 10px;
    cursor: pointer;
  }
  